{erl_opts, [debug_info]}.

{deps, [cowboy]}.

{deps, [
        {leptus, ".*", {git, "git://github.com/sinasamavati/leptus.git", {branch, "master"}}}
       ]}.

{shell,
 % {config, "config/sys.config"},
 [{apps, [docker_ex]}]}.

{relx,
 [{release, {docker_ex, "0.0.1"}, [docker_ex]},
  {mode, prod},
  {dev_mode, false},
  {include_erts, true}]}.

{plugins, [rebar3_format]}.
